@charset "UTF-8";
/* Basic Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%; /* Для коректної роботи rem */
  line-height: 1.5;
  -webkit-text-size-adjust: 100%; /* Відключення масштабування тексту в мобільних браузерах */
}

body {
  margin: 0;
  font-family: Arial, sans-serif; /* Або інший базовий шрифт */
  background-color: #fff;
  color: #000;
}

img,
picture,
video,
canvas {
  max-width: 100%;
  height: auto;
  display: block;
}

button,
input,
textarea,
select {
  font: inherit;
  border: none;
  background: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

@font-face {
  font-family: "Roboto";
  src: url(../../fonts/Roboto-Bold.woff2) format("woff2"), url(../../fonts/Roboto-Bold.woff) format("woff"), url(../../fonts/Roboto-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "DM Sans";
  src: url(../../fonts/DMSans-Bold.woff2) format("woff2"), url(../../fonts/DMSans-Bold.woff) format("woff"), url(../../fonts/DMSans-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "DM Sans";
  src: url(../../fonts/DMSans-Medium.woff2) format("woff2"), url(../../fonts/DMSans-Medium.woff) format("woff"), url(../../fonts/DMSans-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "DM Sans";
  src: url(../../fonts/DMSans-regular.woff2) format("woff2"), url(../../fonts/DMSans-regular.woff) format("woff"), url(../../fonts/DMSans-regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "DM Sans";
  width: 100%;
  max-width: 1920px;
  margin: auto;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.31), rgba(0, 0, 0, 0.29)), url(../../assets/images/backround_header.jpg);
  background-repeat: no-repeat;
  background-position: center, top;
  background-size: 1920px;
}
@media screen and (max-width: 1280px) {
  body {
    background-size: 1280px;
  }
}

h1 {
  font-family: "roboto";
  font-size: 120px;
  line-height: 1.08;
  color: #ffffff;
  text-transform: uppercase;
}
@media screen and (max-width: 1280px) {
  h1 {
    font-size: 60px;
    line-height: 1.08;
    color: #ffffff;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 60px;
    line-height: 1.08;
    color: #ffffff;
  }
}

h2 {
  font-size: 60px;
  line-height: 2.5;
  color: #ffffff;
}
@media screen and (max-width: 1280px) {
  h2 {
    font-size: 20px;
    line-height: 1.08;
    color: #ffffff;
  }
}

a {
  font-size: 18px;
  line-height: 1.55;
  color: #ffffff;
}
@media screen and (max-width: 1280px) {
  a {
    font-size: 16px;
    line-height: 1;
    color: #ffffff;
  }
}

p {
  font-size: 18px;
  line-height: 1.55;
  color: #6f7787;
}
@media screen and (max-width: 1280px) {
  p {
    font-size: 16px;
    line-height: 1.24;
    color: #6f7787;
  }
}

.button {
  font-weight: 700;
  padding: 26px 64px;
  border-radius: 211px;
  background-color: #dd2242;
  font-size: 20px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.8);
}
@media screen and (max-width: 1280px) {
  .button {
    padding: 12px 16px;
    font-weight: 900;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav {
  display: flex;
}
.header__logo {
  margin: 12px 0 0 24px;
}
@media screen and (max-width: 768px) {
  .header__logo {
    width: 216px;
    margin: 24px 0 0 14px;
  }
}
.header__menu {
  display: flex;
  padding-left: 64px;
  gap: 62px;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 1280px) {
  .header__menu {
    gap: 20px;
    padding-left: 32px;
  }
}
@media screen and (max-width: 768px) {
  .header__menu {
    display: none;
  }
}
.header__menu-item {
  text-transform: uppercase;
  font-weight: 700;
}
.header__container-bar {
  display: none;
}
@media screen and (max-width: 768px) {
  .header__container-bar {
    display: block;
    fill: #ffffff;
    margin: 24px 32px 0 0;
  }
}

.hero-section__title {
  margin: 196px 0 21px 278px;
  max-width: 768px;
}
@media screen and (max-width: 1280px) {
  .hero-section__title {
    margin: 160px auto 60px auto;
    max-width: 585px;
  }
}
@media screen and (max-width: 768px) {
  .hero-section__title {
    margin: 196px 0 21px 24px;
    max-width: 585px;
  }
}
.hero-section__button {
  margin: 0 0 220px 278px;
}
@media screen and (max-width: 1280px) {
  .hero-section__button {
    margin: 0 auto 140px auto;
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .hero-section__button {
    margin: 0 auto 128px auto;
    display: block;
  }
}

.stip-section {
  position: relative;
  display: flex;
}
.stip-section__list {
  justify-content: space-around;
  align-items: center;
  width: 1226px;
  height: 210px;
  margin-right: 418px;
  gap: 40px;
  padding: 40px;
  font-family: "roboto";
  display: flex;
  list-style-position: inside;
  margin-left: auto;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  line-height: 1.17;
  color: #dd2242;
  list-style-type: decimal-leading-zero;
}
@media screen and (max-width: 1280px) {
  .stip-section__list {
    width: 100%;
    height: 160px;
    padding: 22px;
    margin-right: 328px;
  }
}
.stip-section__list p {
  max-width: 210px;
}
.stip-section__title {
  margin-top: 16px;
  font-size: 24px;
  line-height: 1.7;
  color: #ffffff;
}
@media screen and (max-width: 1280px) {
  .stip-section__title {
    margin-top: 8px;
    font-size: 20px;
    line-height: 1;
    color: #ffffff;
  }
}
.stip-section__video-container {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0px;
  max-width: 418px;
}
@media screen and (max-width: 1280px) {
  .stip-section__video-container {
    max-width: 328px;
  }
}/*# sourceMappingURL=main.css.map */