.btn-21,
.btn-21 *,
.btn-21:after,
.btn-21:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-21 {
  background-color: #dd2242;
  border: white 1px;
  cursor: pointer;
}

.btn-21 {
  border-radius: 20px;
  border-width: 15px;
  overflow: hidden;
  padding: 5px 15px;
  position: relative;
  text-transform: uppercase;
}
.btn-21 span {
  color: wheat;
}

.btn-21 span::after {
  color: red;
}

.btn-21:before {
  animation: move-out 0.3s;
  background: #d8b4b9;
  content: '';
  height: 100%;
  left: -100%;
  position: absolute;
  top: 0;
  width: 100%;
  will-change: transform;
}
.btn-21:hover:before {
  animation: move-in 0.3s forwards;
}

@keyframes move-in {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes move-out {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(200%);
  }
}
