@import '../utils/variables';
@import '../utils/mixin';

.secrets-section {
  background-image: url(../../assets/images/secrets_background.jpg);
  background-position: center;
  background-size: 110%;

  &__title {
    display: flex;
    padding-top: 127px;
    justify-content: center;
    align-items: center;
    @include text-style($fs-d-h2, 1.5, $primary-darker-color);
  }

  &__button-bar--icon {
    margin: 64px;
    fill: $primary-darker-color;
  }

  &__carousel {
    margin-top: 44px;
    margin-bottom: 933px;
    display: flex;

    justify-content: center;
  }

  &__carousel-card {
    display: flex;
    gap: 32px;
  }

  &__carousel-card img {
    // display: flex;
    border-radius: 12px;
  }
  &__statistics {
    background-color: rgba(2, 12, 33, 0.9);

    &__title {
      display: flex;
      justify-content: center;
    }

    &--title h3 {
      display: flex;
      justify-content: center;
      padding-top: 202px;
      @include text-style($fs-d-h2, 1.5, $primary-lighter-color);
    }
    &--title p {
      margin: 0 auto;
      text-align: center;
      margin-top: 38px;
      max-width: 484px;
      color: $secondary-lighter-color;
    }

    &--wrapper {
      display: flex;
      justify-content: space-around;
    }

    &--accent {
      width: 380px;
    }

    &--accent h4 {
      margin: 39px auto 0 auto;
      text-align: center;
    }

    &--accent p {
      margin: 18px auto 224px auto;
      text-align: center;
    }
  }
}

.next {
  transform: rotateY(180deg);
}
