@import '../utils/variables';
@import '../utils/mixin';
body {
  max-width: 1920px;
  margin: auto;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.31), rgba(0, 0, 0, 0.29)),
    url(../../assets/images/backround_header.jpg);
  background-repeat: no-repeat;
  background-position: center, top;
  background-size: cover;
}

h1 {
  @include text-style($fs-d-h1, 1.08, $primary-lighter-color);
  text-transform: uppercase;
}

a {
  font-size: 18px;
  align-items: 1.55;
  color: $primary-lighter-color;
}
